
*{ outline: none;
    font-family:  sans-serif;
    margin:0px;  }
 
body{
   font-weight: bold;
   font-size: 20px;

  background: white;
}
header{
  padding:15px;
  background-image: linear-gradient(to right, #01FFE7,#008BD6);
  border-bottom: 0.01px solid white;
}
.logo{
 width: 150px;
 margin-left: 10px;
}

.sidenav {
        
  float: right;
  margin: 10px;
}
.sidenav a {
  color: white;
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
}
.sidenav a:hover {
  font-weight: bold;
  font-size: 30px;
}
.bars, .closebtn{
  display: none;
}
footer{
  padding: 25px;
  text-align: center;
  font-size: 30px;
  color: white;
  background-image: linear-gradient(to right, #01FFE7,#008BD6);
  border-top: 0.01px solid white;
}
footer i a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
footer P{
  padding-top: 10px;
  font-size: 20px;
}
@media screen and (max-width: 960px){
  header{
    padding: 5px;
  }
 .logo{
  width: 115px;
  margin: 4px 10px 0px 0px;
  float: right;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left:0;
  background: linear-gradient(to right, #01FFE7,#008BD6);
  overflow-x: hidden;
  transition: 0.5s;
  margin: 0px;
  padding-top: 60px;
}
.container{
  margin: 2px 6px 0px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  box-shadow: 0px 0.2px #008BD6;
  display: block;
  transition: 0.3s;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  display: inline;
  right: 20px;
  padding: 30px;
}
.bars,.closebtn{
  display: block;}
}



/*menu bar*/
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3, .close1, .close2 {
  width: 24px;
  height: 2px;
  margin: 6px;
  transition: 0.4s;
  background-color: #fff;
}

.close1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}
.close2{
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-4px, -4px);
}

label, input {
  width: 100%;
}
label {
       color: #000030;
}
input{
  font-size: 20px;
  padding: 5px 10px;
  margin: 2px 0px 10px 0px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #000032;
  border: 2px solid #008BD6;
  
}
#output{
     float: right;
     width: 80px;
     height: 80px;
     margin: 0px;
     padding: 40px;
}
br{   
    content: "A" !important;
    display: block !important;
    margin-bottom: 0.5em !important;
    border: 0.1px dotted #008BD6;
    
}
input:focus {
  border: 2px dotted #008BD6;
  font-weight: bold;
  color: #008BD6;
  background: transparent;
  
}
button{
      font-size: 25px;
      background: #008BD6;
      margin:20px;
      width: 88%;
      padding: 8px 10px;
      border: none;
      box-sizing: border-box;
      border-radius: 6px; 
      color: white;
      font-weight: bold;
}
#demo{
  border: 2px double #008BD6;
  border-radius: 10px;
  padding: 20px;
  font-size: 15px; 
  margin: 20px;
  background: white;
} 
#demo i{
       
        font-style: normal;
}
#demo b{
        font-weight: normal;
        color: gray;
        
}
.x{
        padding: 20px;
}
@media screen and (min-width: 980px){
  .x{
     padding: 5%;
        }
label{
   width: 30%; 
   float: left;
        }
input{
  width: 60%;
 
  }     
}
@media print{
#demo{
   border: none;
   color: black;
   word-spacing: 5px;
}
header,button,footer,display,.x{
      display: none;
}
#output{
   width: 85px;
   height:85px;
   margin-right: 100px; }
br{
      border: none;
}
}