*{
    margin: 0px;
}
html{
	height: 100%;
}
body {
     font-size: 10pt;
     font-family: sans-serif;
     color: white;
     display: flex;
   flex-direction: column;
   height: 100%;
}
header{
        padding: 20px;
        font-size: 20px;
        text-align: center;
        background: url(https://2.bp.blogspot.com/-Cunhwsdp0mY/XkwPhif1ZJI/AAAAAAAABbQ/QcKYgn8WpuggeTcr90fNXlmGQE0Mpy0JwCK4BGAYYCw/s480/hero-wrapper.png) ,linear-gradient(to bottom left,#00ccff,#008BD6);/*
      background: linear-gradient( to left, #01FFE7,#008BD6);*/
    
}
img{
        width: 30%;
}
.h1{
        text-align: center;
        color: #008BD6;
        margin: 10% 2% 0% 2%;
        
        
        
}
.flex{
        text-align: center;
        margin: 14px;
      
       
}
i{   color: white;
     padding: 14px;
     font-size: 50px;
     filter: drop-shadow( 2px 2px black);
     
}
.div1{
      
        
        background: url(https://2.bp.blogspot.com/-Cunhwsdp0mY/XkwPhif1ZJI/AAAAAAAABbQ/QcKYgn8WpuggeTcr90fNXlmGQE0Mpy0JwCK4BGAYYCw/s480/hero-wrapper.png) ,linear-gradient(to bottom left,#01FFE7,#008BD6);
        box-shadow: 7px 7px 6px lightgray;
        width: 95%;
        margin:8% 0%;
        
        padding: 2%;
        border-radius: 10px;
}
a{
    text-decoration: none;
    color: white;
    display: block;
}
.fa-external-link-alt{
        padding: 10px 0px;
       font-size: 15px;
       font-weight: normal;
     
}
.div1:hover {
   background: url(https://2.bp.blogspot.com/-Cunhwsdp0mY/XkwPhif1ZJI/AAAAAAAABbQ/QcKYgn8WpuggeTcr90fNXlmGQE0Mpy0JwCK4BGAYYCw/s480/hero-wrapper.png) ,linear-gradient(#01FFE7,#008BD6);   
  
}
footer {
    margin-top: auto;
    padding: 20px;
    text-align: center;
    background: url(https://2.bp.blogspot.com/-Cunhwsdp0mY/XkwPhif1ZJI/AAAAAAAABbQ/QcKYgn8WpuggeTcr90fNXlmGQE0Mpy0JwCK4BGAYYCw/s480/hero-wrapper.png) ,linear-gradient(to bottom left,#00ccff,#008BD6);
}
footer i{
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 30px;
  filter: drop-shadow(0px 0px white);
}
footer P{
  padding-top: 10px;
  font-size: 16px;
}

@media screen and (min-width: 979px){
img{
		width: 15%;}
.h1{
     margin: 5% 20% 0% 20%;
}
.div1{
	margin: 5% 10%;
	width: 75%;
}
}